<%= form_for @note, html: { multipart: true } do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="section no-pad-bot">
    <div class="container">
      <div class="row main-text-color">

        <div class="field">
          <%= f.label :Title %><br>
          <%= f.text_field :title %>
        </div>

        <div class="field">
          <%= f.label :Description %><br>
          <%= f.text_area :description %>
        </div>

        <div class="field">
          <%= f.label :subject %><br>
          <%= f.text_field :subject %>
        </div>

        <div class="field">
          <%= f.label :teacher %><br>
          <%= f.text_field :teacher %>
        </div>

        <div class="field">
          <%= f.label :owner, class:"fa fa-user"  %><br>
          <%= f.text_field :owner %>
        </div>

        <div>
          <%= f.label :Date %><br>
          <input type="date" class="datepicker"> <%= f.date_select :create_note %> </input>
        </div>

        <div class="field">
            <%= f.label :image  %><br>
            <%= f.file_field :image %>
        </div>
        <br>

        <!-- <form action="#">
          <div class="file-field input-field ">
            <div class="btn blue">
              <span>File</span>
              <%= f.label :image  %><br>
              <input type="file" multiple> <%= f.file_field :image %> </input>
            </div>
            <div class="file-path-wrapper ">
              <input class="file-path validate " type="text"> <%= f.label :image %></input>
            </div>
          </div>
        </form>
        <br> -->

        <div class="btn waves-effect waves-light" type="submit" name="action">
          <%= f.submit %>
          <i class="material-icons left">+</i>
        </div>

      </div>
    </div>
  </div>

<% end %>
