<p id="notice"><%= notice %></p>

<!-- <div class="pure-menu pure-menu-horizontal">
    <a href="#" class="pure-menu-heading pure-menu-link">Home</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Notes</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact Us</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Log in</a></li>
    </ul>
</div> -->

<nav>
  <div class="nav-wrapper">
    <a href="" class="brand-logo">Home</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="">Notes</a></li>
      <li><a href="">Contact Us</a></li>
      <li><a href="">Log in</a></li>
    </ul>
  </div>
</nav>

<h1>Listing Notes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Category</th>
      <th>Rating</th>
      <th>Owner</th>
      <th>Create note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= note.description %></td>
        <td><%= note.image_url %></td>
        <td><%= note.category %></td>
        <td><%= note.rating %></td>
        <td><%= note.owner %></td>
        <td><%= note.create_note %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
