<div class="container">
  <div class="center">
    <div class="row">
      <img class="col-xs-6" src="https://activerain-store.s3.amazonaws.com/image_store/uploads/7/7/0/3/2/ar134783823023077.jpg" class="responsive-img" style="max-height: 300px;"/>
      <h3 class="col-xs-6">List of Notes</h3>
    </div>
  </div>

  <p id="notice"><%= notice %></p>

  <div class="row">
    <% @notes.each do |note| %>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image" class="img_fix">
            <%= image_tag note.image.url %>
          </div>
          <div class="card-content">
            <p>Title: <%= note.title %></p>
            <p>Subject: <%= note.subject %></p>
            <p>Teacher: <%= note.teacher %></p>
            <p class="text-right">Owner: <%= note.owner %></p>
          </div>
          <div class="card-action">
            <%= link_to "Read More", note %>
            <!-- <a class ="blue-text text-darken-2" href="">Read More</a> -->

          </div>
        </div>

      </div>
    <% end %>

  <br>
</div>
</div>

<%if model_signed_in? %>
  <div class="center">
    <a class="waves-effect waves-light btn-large" <%= link_to 'New Note', new_note_path %></a>
  </div>
<% end %>
